.container {
  display: flex;
  width: calc(100% - 100px);
  gap: 10px;
  margin: 0 auto;

  div {
    flex: 1;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
  }

  .pink {
    background-color: var(--pink);
    border: 5px solid var(--pink__alt);
  }

  .red {
    background-color: var(--red);
    border: 5px solid var(--red__alt);
  }

  .orange {
    background-color: var(--orange);
    border: 5px solid var(--orange__alt);
  }

  .yellow {
    background-color: var(--yellow);
    border: 5px solid var(--yellow__alt);
  }

  .green {
    background-color: var(--green);
    border: 5px solid var(--green__alt);
  }

  .blue {
    background-color: var(--blue);
    border: 5px solid var(--blue__alt);
  }
  
  .purple {
    background-color: var(--purple);
    border: 5px solid var(--purple__alt);
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}