:root {
  --outside-month: var(--light-gray);
  --cell-border: 1px solid var(--gray);
}

[data-theme='dark'] {
  --outside-month: hsl(0, 3%, 20%);
  --cell-border: 1px solid hsl(0, 2%, 30%);
}

.calendar__component {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  caption {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px;
  }

  th {
    padding: 5px;
  }

  td {
    border: var(--cell-border);
  }

  .day-number {
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
    position: absolute;
  }

  .day-cell {
    aspect-ratio: 1 / 1;
  }

  .outside-month {
    background-color: var(--outside-month);
  }

  .today-date {
    background-color: var(--green);
    color: var(--background);
  }
}
